<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navigation') %>
    <!--SECCION INICIO-->
    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="img/hero.png" alt="">
            </div>
            <h1>WILLIAM VILLACREZ</h1>
            <h2>Ingeniero Geografo</h2>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </section>   
    <%- include('about.ejs') %>
    <%- include('skills.ejs') %>
    <%- include('curriculum.ejs') %>
    <%- include('projects.ejs') %>
    <%- include('contact.ejs') %>
    <%- include('footer.ejs') %>

    <script src="/js/script.js"></script>

</body>
</html>